<h1><u>Login</u></h1>
<form action="/login" method="post">
  <input type="text" name="user[email]" placeholder="E-mail" autofocus>
  <input type="password" name="user[password]" placeholder="Password">
  <input type="submit" value="Sign in">
</form>
