<h1><u>Sign Up</u></h1>
<div class="signup">
<form action="/signup" method="post" enctype="multipart/form-data">
    <input type="text" name="user[first_name]" placeholder="Firstname" autofocus required=true><br>
    <input type="text" name="user[last_name]" placeholder="Lastname" required=true><br>
    <input type="email" name="user[email]" placeholder="E-mail" required=true><br>
    <input type="text" name="user[birthdate]" placeholder="Birthdate" required=true><br>
    <input type="password" name="user[password]" placeholder="Password" required=true><br>
    <input type="submit" value="Create account">
</form>
</div>
